/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

/* CSS Reset end */
/* whole body control*/
body {
  font-family: 'Roboto', Arial, Microsoft JhengHei, sans-serif; }

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background: #f2f2f2; }

.clearfix {
  clear: both; }

/*header*/
.header {
  background: #7828b4;
  max-width: 1200px;
  margin: 0 auto; }
  .header .row {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px; }
    @media (max-width: 414px) {
      .header .row {
        padding-left: 0px; } }
    @media (max-width: 414px) {
      .header .row .logo h1 {
        padding-left: 120px; } }
    .header .row .logo h1 a {
      background: url(../image/logo.png);
      display: block;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      width: 152px;
      height: 26px;
      margin-top: 24px;
      margin-bottom: 24px;
      margin-left: 50px; }
      @media (max-width: 768px) {
        .header .row .logo h1 a {
          margin-left: 0px; } }
    .header .row .searchbar {
      padding-top: 20px; }
      @media (max-width: 414px) {
        .header .row .searchbar {
          background: #d7d7d7;
          padding-bottom: 20px; } }
      .header .row .searchbar .search {
        border-bottom: 1px solid #ffffff;
        width: 40%; }
        @media (max-width: 414px) {
          .header .row .searchbar .search {
            border-bottom: 1px solid #000000;
            width: 90%;
            margin-left: 20px; } }
        .header .row .searchbar .search span {
          color: #ffffff; }
          @media (max-width: 414px) {
            .header .row .searchbar .search span {
              color: #000000; } }
        .header .row .searchbar .search input {
          width: 70%;
          border: none;
          margin-left: 5px;
          color: #ffffff;
          background: #7828b4; }
          @media (max-width: 414px) {
            .header .row .searchbar .search input {
              background: #d7d7d7; } }

/*content*/
.content .row {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px; }
  @media (max-width: 768px) {
    .content .row {
      padding-left: 0px; } }
  .content .row .leftsearch {
    background: #ebebeb;
    max-height: 540px; }
    .content .row .leftsearch h3 {
      font-size: 20px;
      padding-top: 24px; }
    .content .row .leftsearch hr {
      margin: 30px 0px 0px 0px; }
    .content .row .leftsearch .location h3 .showmenu {
      display: none; }
      @media (max-width: 414px) {
        .content .row .leftsearch .location h3 .showmenu {
          display: block;
          float: right;
          background: none;
          border: none; } }
      @media (max-width: 414px) {
        .content .row .leftsearch .location h3 .showmenu .incon-bar {
          background-color: #ffffff;
          display: block;
          height: 4px;
          margin: 0 auto 4px;
          width: 30px; } }
    .content .row .leftsearch .location .locationselect {
      max-height: 150px; }
      @media (max-width: 414px) {
        .content .row .leftsearch .location .locationselect {
          max-height: 0px;
          overflow: hidden;
          -webkit-transition: max-height 0.5s;
          -o-transition: max-height 0.5s;
          transition: max-height 0.5s;
          margin-top: 1px;
          position: absolute;
          z-index: 100;
          top: 55px;
          left: 0;
          right: 0;
          background: #ebebeb; } }
      .content .row .leftsearch .location .locationselect select {
        border: none;
        background: #ffffff;
        width: 90%;
        height: 40px; }
        @media (max-width: 414px) {
          .content .row .leftsearch .location .locationselect select {
            margin-left: 20px; } }
    .content .row .leftsearch .date {
      text-align: right;
      float: left; }
      @media (max-width: 414px) {
        .content .row .leftsearch .date {
          float: none; } }
      .content .row .leftsearch .date h3 {
        text-align: left; }
        .content .row .leftsearch .date h3 .showmenu {
          display: none; }
          @media (max-width: 414px) {
            .content .row .leftsearch .date h3 .showmenu {
              display: block;
              float: right;
              background: none;
              border: none; } }
          @media (max-width: 414px) {
            .content .row .leftsearch .date h3 .showmenu .incon-bar {
              background-color: #ffffff;
              display: block;
              height: 4px;
              margin: 0 auto 4px;
              width: 30px; } }
      @media (max-width: 414px) {
        .content .row .leftsearch .date .dateinput {
          max-height: 0px;
          overflow: hidden;
          -webkit-transition: max-height 0.5s;
          -o-transition: max-height 0.5s;
          transition: max-height 0.5s;
          margin-top: 1px;
          position: absolute;
          z-index: 100;
          top: 55px;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.9); } }
      .content .row .leftsearch .date .dateinput span {
        padding-right: 10px; }
      .content .row .leftsearch .date .dateinput input {
        margin-top: 10px;
        border: none;
        background: #ffffff;
        height: 40px; }
    .content .row .leftsearch .categories h3 .showmenu {
      display: none; }
      @media (max-width: 414px) {
        .content .row .leftsearch .categories h3 .showmenu {
          display: block;
          float: right;
          background: none;
          border: none; } }
      @media (max-width: 414px) {
        .content .row .leftsearch .categories h3 .showmenu .incon-bar {
          background-color: #ffffff;
          display: block;
          height: 4px;
          margin: 0 auto 4px;
          width: 30px; } }
    @media (max-width: 414px) {
      .content .row .leftsearch .categories .cateinput {
        max-height: 0px;
        overflow: hidden;
        -webkit-transition: max-height 0.5s;
        -o-transition: max-height 0.5s;
        transition: max-height 0.5s;
        margin-top: 1px;
        position: absolute;
        z-index: 100;
        top: 55px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.9); } }
  @media (max-width: 768px) {
    .content .row .rightcontent {
      padding-left: 20px; } }
  .content .row .rightcontent .contenttop {
    margin-bottom: 24px; }
    @media (max-width: 414px) {
      .content .row .rightcontent .contenttop {
        display: none; } }
    .content .row .rightcontent .contenttop h2 {
      font-size: 30px;
      padding-top: 10px;
      padding-left: 10px; }
      .content .row .rightcontent .contenttop h2 b {
        color: #9013fe;
        padding: 0px 5px 0px 5px; }
    .content .row .rightcontent .contenttop span {
      border: 1px solid #9013fe;
      color: #9013fe;
      padding: 5px 10px 5px 10px;
      border-radius: 20px; }
      .content .row .rightcontent .contenttop span i {
        margin-left: 10px; }
  .content .row .rightcontent .cardcontenttop h3 {
    margin: 24px 40px 24px 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    font-size: 16px;
    color: #9013fe;
    background: #ebebeb; }
    @media (max-width: 768px) {
      .content .row .rightcontent .cardcontenttop h3 {
        margin-left: 0px;
        margin-right: 0px; } }
    .content .row .rightcontent .cardcontenttop h3 span {
      color: #9b9b9b; }
  .content .row .rightcontent .contentmain {
    padding-left: 10px; }
    .content .row .rightcontent .contentmain .card {
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        .content .row .rightcontent .contentmain .card {
          margin-right: 40px; } }
      @media (max-width: 414px) {
        .content .row .rightcontent .contentmain .card {
          margin-top: 20px; } }
      @media (max-width: 768px) {
        .content .row .rightcontent .contentmain .card .cardimg {
          padding: 0px; } }
      @media (max-width: 768px) {
        .content .row .rightcontent .contentmain .card .cardimg img {
          width: 100%; } }
      .content .row .rightcontent .contentmain .card h3 {
        padding-top: 20px;
        font-size: 24px;
        color: #9013fe; }
        .content .row .rightcontent .contentmain .card h3 a {
          text-decoration: none;
          color: #9013fe; }
      .content .row .rightcontent .contentmain .card p {
        font-size: 16px; }
      .content .row .rightcontent .contentmain .card h4 {
        font-size: 16px; }
        .content .row .rightcontent .contentmain .card h4 span {
          margin-left: 20px;
          border-radius: 15px;
          color: #ffffff;
          background: #d7d7d7;
          padding: 5px 15px 5px 15px;
          font-style: italic; }
      .content .row .rightcontent .contentmain .card i {
        font-size: 16px;
        margin-right: 20px; }
        @media (max-width: 768px) {
          .content .row .rightcontent .contentmain .card i {
            display: block;
            margin-top: 15px;
            margin-bottom: 15px; } }
        .content .row .rightcontent .contentmain .card i span {
          margin-left: 10px;
          color: #9b9b9b; }
    @media (max-width: 768px) {
      .content .row .rightcontent .contentmain #card {
        display: none; } }
  .content .row .rightcontent .cardconten {
    margin-left: 40px;
    margin-right: 40px;
    background: #ffffff; }
    @media (max-width: 768px) {
      .content .row .rightcontent .cardconten {
        margin-left: 0px;
        margin-right: 0px; } }
    .content .row .rightcontent .cardconten h2 {
      margin-left: 66px;
      margin-top: 20px;
      color: #9013fe; }
      @media (max-width: 768px) {
        .content .row .rightcontent .cardconten h2 {
          margin-left: 20px; } }
    .content .row .rightcontent .cardconten h4 {
      font-size: 16px;
      margin-left: 66px;
      margin-top: 20px; }
      @media (max-width: 768px) {
        .content .row .rightcontent .cardconten h4 {
          margin-left: 20px; } }
      .content .row .rightcontent .cardconten h4 span {
        margin-left: 20px;
        border-radius: 15px;
        color: #ffffff;
        background: #d7d7d7;
        padding: 5px 15px 5px 15px;
        font-style: italic; }
    .content .row .rightcontent .cardconten p {
      margin: 24px 66px 24px 66px;
      padding-bottom: 12px; }
      @media (max-width: 768px) {
        .content .row .rightcontent .cardconten p {
          margin-left: 20px;
          margin-right: 20px; } }
    .content .row .rightcontent .cardconten .contenicon {
      margin-left: 66px; }
      @media (max-width: 768px) {
        .content .row .rightcontent .cardconten .contenicon {
          margin-left: 20px; } }
      .content .row .rightcontent .cardconten .contenicon i {
        font-size: 16px;
        margin-right: 20px; }
        .content .row .rightcontent .cardconten .contenicon i span {
          margin-left: 10px;
          color: #9b9b9b; }
  .content .row .rightcontent nav {
    float: right; }
    @media (max-width: 414px) {
      .content .row .rightcontent nav {
        float: left;
        margin-left: 40px; } }
    @media (max-width: 768px) {
      .content .row .rightcontent nav {
        margin-right: 40px; } }
    .content .row .rightcontent nav li :hover {
      background: #9013fe;
      color: #ffffff; }
    .content .row .rightcontent nav li a {
      color: #9013fe; }
