@import "var";
@import "grid";
/*content*/ 

.content {

  .row{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    @include pad(){
      padding-left: 0px;
    }
    .leftsearch{
      background: $mediumgray;
      max-height: 540px;
      h3{
        font-size: 20px;
        padding-top: 24px;
      }
      hr{
        margin:30px 0px 0px 0px;

      }
      .location{
        h3{
          .showmenu{
            display: none;
            @include iphone(){
              display: block;
              float: right;
              background: none;
              border: none;
            }
            .incon-bar{ 
              @include iphone(){
                background-color: #ffffff;
                display: block;
                height: 4px;
                margin: 0 auto 4px;
                width: 30px;
              }
            }
          }
        }
        .locationselect{
          max-height: 150px;
          @include iphone(){
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.5s;
            margin-top: 1px;
            position: absolute;
            z-index: 100;
            top: 55px;
            left: 0;
            right: 0;
            background: $mediumgray;
          }
          select{
            border:none;
            background: $white;
            width: 90%;
            height: 40px;
            @include iphone(){
              margin-left: 20px;
            }
          }
        }
      }
      .date{
        text-align: right;
        float: left;
        @include iphone(){
          float: none;    
        }
        h3{
          text-align: left;
          .showmenu{
            display: none;
            @include iphone(){
              display: block;
              float: right;
              background: none;
              border: none;
            }
            .incon-bar{
              @include iphone(){
                background-color: #ffffff;
                display: block;
                height: 4px;
                margin: 0 auto 4px;
                width: 30px;
              }
            }
          }
        }
        .dateinput{
          @include iphone(){
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.5s;
            margin-top: 1px;
            position: absolute;
            z-index: 100;
            top: 55px;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.9);
          }
          span{
            padding-right: 10px;

          }
          input{
            margin-top: 10px;
            border: none;
            background: $white;
            height: 40px;
          }
        }
      }
      .categories{
        h3{
          .showmenu{
            display: none;
            @include iphone(){
              display: block;
              float: right;
              background: none;
              border: none;
            }
            .incon-bar{
              @include iphone(){
              background-color: #ffffff;
              display: block;
              height: 4px;
              margin: 0 auto 4px;
              width: 30px;
              }
            }
          }
        }
        .cateinput{
            @include iphone(){
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.5s;
            margin-top: 1px;
            position: absolute;
            z-index: 100;
            top: 55px;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.9);
          }
        }
      }
    }

    .rightcontent{
      @include pad(){
        padding-left: 20px;
      }
      .contenttop{
        margin-bottom: 24px;
        @include iphone(){
          display: none;
        }
        h2{
          font-size: 30px;
          padding-top: 10px;
          padding-left: 10px;
          b{
            color: $lightpurple;
            padding:0px 5px 0px 5px;
          }
        }
        span{
          border:1px solid $lightpurple;
          color:$lightpurple;
          padding: 5px 10px 5px 10px;
          border-radius: 20px;
          i{
            margin-left: 10px;
          }
        }
      }
      .cardcontenttop{
        h3{
          margin: 24px 40px 24px 40px;
          padding-top: 13px;
          padding-bottom: 13px;
          padding-left: 16px;
          font-size: 16px;
          color:$lightpurple;
          background: $mediumgray;
          @include pad(){
          margin-left: 0px;
          margin-right: 0px;
          }
          span{
            color:$darkgray;
          }
        }
      }
      .contentmain{
        padding-left: 10px;
        .card{
          margin-bottom: 20px;
          @include pad(){
            margin-right: 40px;
          }
          @include iphone(){
            margin-top: 20px;
          }
          .cardimg{
            @include pad(){
              padding: 0px;
            }
            img{
              @include pad(){
                width: 100%;
              }
            }
          }
          h3{
            padding-top: 20px;
            font-size: 24px;
            color:$lightpurple;
            a{
              text-decoration: none;
              color:$lightpurple;
            }
          }
          p{
            font-size: 16px;
          }
          h4{
            font-size: 16px;
            span{
              margin-left: 20px;
              border-radius: 15px;
              color:$white;
              background: $gray;
              padding: 5px 15px 5px 15px;
              font-style: italic;
            }
          }
          i {
            font-size: 16px;
            margin-right: 20px;
            @include pad(){
              display: block;
              margin-top: 15px;
              margin-bottom: 15px;
            }
            span{
              margin-left: 10px;
              color: $darkgray;
            }
          }
        }
        #card {
          @include pad(){
            display: none;
          }
        }
      }
      .cardconten{
        margin-left: 40px;
        margin-right: 40px;
        background: $white;
        @include pad(){
          margin-left: 0px;
          margin-right: 0px;
        }
        h2{
          margin-left: 66px;
          margin-top: 20px;
          color:$lightpurple;
          @include pad(){
            margin-left: 20px;
          }
        }
        h4{
          font-size: 16px;
          margin-left: 66px;
          margin-top: 20px;
          @include pad(){
            margin-left: 20px;
          }
          span{
            margin-left: 20px;
            border-radius: 15px;
            color:$white;
            background: $gray;
            padding: 5px 15px 5px 15px;
            font-style: italic;
          }
        }
        p{
          margin: 24px 66px 24px 66px;
          padding-bottom: 12px;
          @include pad(){
            margin-left: 20px;
            margin-right: 20px;
          }

        }
        .contenicon{
          margin-left: 66px;
           @include pad(){
            margin-left: 20px;
          }
          i {
            font-size: 16px;
            margin-right: 20px;
            span{
              margin-left: 10px;
              color: $darkgray;
            }
          }  
        }
        
      }
      nav{
        float: right;
        @include iphone(){
          float:left;
          margin-left: 40px;
        }
        @include pad(){
          margin-right: 40px;
        }
        li{
          :hover{
            background: $lightpurple;
            color:$white;
          }
          a {
          color: $lightpurple;
          }
        }
      }
    }
  }
}
