@import "var";
 /*header*/ 

 .header{
  background: $purple;
  max-width: 1200px;
  margin: 0 auto;
  .row {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    @include iphone(){
      padding-left: 0px;
    }
    .logo {
      h1{
        @include iphone(){
          padding-left: 120px;
        }
        a{
          background: url(../image/logo.png);
          display: block;
          text-indent: 101%;
          overflow: hidden;
          white-space: nowrap;
          width: 152px;
          height: 26px;
          margin-top:24px;
          margin-bottom: 24px;
          margin-left: 50px;
          @include pad(){
            margin-left: 0px;
          }
          
        }
      }
    }
    .searchbar{
      padding-top: 20px;
      @include iphone(){
        background: $gray;
        padding-bottom: 20px;
      }
      .search{
        border-bottom: 1px solid $white;
        width: 40%;
        @include iphone(){
          border-bottom: 1px solid $black;
          width: 90%;  
          margin-left: 20px;
        }
        span{
          color: $white;
          @include iphone(){
            color: $black; 
          }
        }
        input{
          width: 70%;
          border:none;
          margin-left: 5px;
          color:$white;
          background: $purple;
          @include iphone(){
            background: $gray;
          }
        }
      }
    }
  }
}

